@import "index.css";

:root {
  --default-color: hsl(0, 0%, 90%);
  --selected-color: hsl(0, 0%, 80%);
  --disabled-color: hsl(0, 0%, 70%);
  --show: "+";
  --hide: "-";
  --left-offset: 15%;
  --transition-duration: 0.2s;
}

a {
  text-decoration: none;
  color: var(--primary)
}

a:hover {
  color: var(--primary-dark)
}

.faqs {
  box-sizing: border-box;
  padding: var(--padding-width);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.faq {
  flex: 1 1 max(350px, 40%);
  transition: all var(--transition-duration) ease-out;
  margin: 10px var(--padding-width);
  outline: 0px solid var(--default-color);
  box-sizing: border-box;
  background-color: transparent;
}

.faq.visible {
  outline: 3px solid var(--primary);
  background-color: var(--default-color);
}

.faq-question {
  overflow-wrap: normal;
  width: 100%;
  box-sizing: border-box;
  border: none;
  padding: 18px;
  background-color: var(--default-color);
  color: black;
  text-align: left;
  cursor: pointer;
  font-size: 1.5em;
  transition: all var(--transition-duration) ease-out;
}

.faq-question:hover {
  background-color: var(--selected-color);
}

.faq-question:after {
  float: right;
  content: var(--show);
  color: var(--primary);
}

.faq.visible .faq-question:after {
  content: var(--hide);
}

.faq-answer {
  line-height: 125%;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: all var(--transition-duration) ease-out;
  font-size: 1.25em;
}

.faq.visible .faq-answer {
  transition: all var(--transition-duration) ease-out;
}
